[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nogodan1234
[access "refs/for/refs/*"]
	read = group user/nogodan1234
	push = group user/nogodan1234
	label-Code-Review = -2..+2 group user/nogodan1234
	label-Verified = -1..+1 group user/nogodan1234
	rebase = group user/nogodan1234
	removeReviewer = group user/nogodan1234
	submit = group user/nogodan1234
[access "refs/heads/*"]
	read = group user/nogodan1234
	create = group user/nogodan1234
	push = +force group user/nogodan1234
	pushMerge = group user/nogodan1234
[access "refs/tags/*"]
	push = group user/nogodan1234
	push = +force group user/nogodan1234
